<?xml version="1.0"?>
<launch>
    <!-- launches the navigation module for the path planning -->
    <arg name="gui" default="true" />
    <arg name="map" default="testmap_blank" />

    <!-- Map Server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find adda_gazebo)/maps/$(arg map).yaml">
        <param name="model" value="adda_vehicle_description"/>
    </node>
    <!--Rviz -->
    <node pkg="rviz" type="rviz" name="map" args="-d $(find adda_gazebo)/config/navigation.rviz" />

    <!-- Move Base: load config files and start node-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="model" value="adda"/>
        <rosparam file="$(find adda_gazebo)/config/costmap.yaml" command="load"/>
        <rosparam file="$(find adda_gazebo)/config/global_costmap_parameter.yaml" command="load"/>
        <rosparam file="$(find adda_gazebo)/config/local_costmap_parameter.yaml" command="load"/>
        <rosparam file="$(find adda_gazebo)/config/teb_local_planner.yaml" command="load" />
        <rosparam file="$(find adda_gazebo)/config/move_base.yaml" command="load" />
        <rosparam file="$(find rsband_local_planner)/cfg/path_tracking_controller_fuzzy_rules.yaml" command="load" />
        <!--<rosparam file="$(find adda_gazebo)/config/RSBand_local_planner.yaml" command="load" />-->
    </node>
</launch>
